{
  "singleQuote": true,
  "semi": true,
  "importOrder": [
    "^vue$",
    "^vue-router$",
    "^pinia$",
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/layouts/(.*)$",
    "^@/services/(.*)$",
    "^@/stores/(.*)$",
    "^@/types/(.*)$",
    "^@/utils/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
